<!DOCTYPE html>
<html>
  <head>
    <title>部屋の名前</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css.map">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="/javascripts/script.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <section class="header">
      <div class="navbar">
      </div>
    </section>
    <section class="main">
      <div class="container">

        <!--入力フォーム -->
        <div class="input-area">
          <h1><%= pagetitle %></h1>
          <!-- <div class="field">
            <div class="control">
              <form><textarea class="textarea" placeholder="<%= comments %>"></textarea></form>
            </div>
          </div> -->
          <div class="control">
            <form method="POST" action="<%= url %>" id="<%= test %>">
              <textarea class="textarea" placeholder="これが私の本心だよ。" name="word"><%= comments %></textarea>
              <button class="button is-large <%= classname %>" type="submit"><%= msg %></button>
            </form>
          </div>
        </div>
        <!--ここまで-->
        
        <!-- 注意書き、不必要ならば消しておｋ
          入力フォーム
            pagetitle: '本音を教えて！',
            comments: 'これが私の本心だよ。',
            classname: 'clean',
            url: '/input/post',
            msg: 'キレイにする！'
          結果出力
            pagetitle: 'キレイになったよ！',
            comments: rslt（キレイになった文章）,
            classname: 'submit',
            url: '/show',
            msg: '本音を言う' 
        -->

        <!--結果出力 -->
        <!-- <div class="output-area">
          <h1>キレイになったよ！</h1>
          <div class="field">
              <div class="control">
                <form><textarea class="textarea" placeholder="結果" readonly></textarea></form>
              </div>
          </div>
          <div class="control">
            <button class="button is-large submit" type="submit">本音を言う</button>
          </div>
        </div> -->
        <!--ここまで-->

      </div>
    </section>

    <script>
      var socket = io();
      $(function(){
        $('#test').submit(function(){
          socket.emit('message', $('textarea[name="word"]').val());
          $('textarea[name="word"]').val('');
          window.location.href = '/show';
          return false;
        });
      });
    </script>
  </body>
</html>
